body{
	margin-top: 100px;
}
div{
	margin: 0;
	padding: 0;
}
div div{
	position: relative;
	background: #A4CA39;
}
.android{
	height: 404px;
	width:  334px;
	margin: 0 auto;
}
.head{
	width: 220px;
	height: 100px;
	border-radius: 110px 110px 0 0;
	-moz-border-radius: 110px 110px 0 0;
	-webkit-border-radius: 110px 110px 0 0;
}
.head:hover{
	transform: rotate(-15deg);
}
.l-eye, .r-eye{
	position: absolute;
	background: #fff;
	width: 20px;
	height: 20px;
	top: 42px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.l-eye{
	left: 50px;
}
.r-eye{
	right: 50px;
}
.l-ant, .r-ant{
	position: absolute;
	top: -34px;
	width: 6px; height: 50px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.l-ant{
	left: 50px;
	transform: rotate(-30deg);
}
.r-ant{
	right: 50px;
	transform: rotate(30deg);
}