body{
	margin-left: 2em;
}

.jumbotron{
	margin-left: -2em;
	background-color: #B88B66;
}

.jumbotron h1{
	font-family: 'Lato';
	color: rgb(239, 235, 194);
	text-shadow: 5px 5px 5px rgb(79, 229, 79);
	margin-left: .25em;
}

p{
	color: purple;
}

#contacts{
	border: 1px solid black;
}

/* Adjacent selector. It will select only the specified element 
that immediately follows the former specified element. */

#movies li:first-of-type + li{
	background-color: yellow;
}

/*Selects all children of a specified type with a parent of a specified type.*/
#hangs > li {
	color: white;
	background-color: purple;
}