body{
	margin-left: 2em;
}

.jumbotron{
	margin-left: -2em;
	background-color: #B88B66;
}

/*text formatting, including the spacing between letters and words
  and the font size. */
.jumbotron h1{
	font-family: 'Lato';
	font-size: 8em;
	letter-spacing: -.1em;
	word-spacing: .5em;
	color: rgb(239, 235, 194);
	text-shadow: 5px 5px 5px rgb(79, 229, 79);
	margin-left: .25em;
}

/* Set link color when hovered over. */

a:hover {
	color: green;
}

/* line-height adjusts the space between lines, without affecting
   the text size. */

p{
	color: purple;
	line-height: .1em;
}

#contacts{
	border: 1px solid black;
}

/* Adjacent selector. It will select only the specified element 
   that immediately follows the former specified element. */

#movies li:first-of-type + li{
	background-color: yellow;
}

/* Example of pseudo-selector usage. Font color and weight changes when
   a movie list item is hovered over. */

#movies li:hover{
	color: blue;
	font-weight: bolder;
}

/* Selects all children of a specified type with a parent of a specified type. */

#hangs > li {
	color: white;
	font-weight: bold;
	background-color: purple;
}

/* Margin is the space outside the box. Padding is the space between the edges
   of the box and the elements inside it. */

#box{
	border-color: #9966FF;
	border-bottom-width: 4px;
	border-bottom-style: groove;
	border-right-style: groove;
	border-right-width: 2px;
	border-right-color: black;
	border-radius: 10%;
	margin-top: 5em;
	margin-bottom: 5em;
	padding-top: 4em;
	width: 10em;
	height: 10em;
	background-color: #FFADD6;
	text-align: center;
}

#box h4, h5 {
	line-height: .2em;
}
