body{
	margin-top: 40px;
}
div{
	margin: 0;
	padding: 0;
}
div div{
	position: relative;
	background: #A4CA39;
}
.android{
	height: 404px;
	width:  334px;
	margin: 0 auto;
}
.head{
	width: 220px;
	height: 100px;
	top: 32px;
	border-radius: 110px 110px 0 0;
	-moz-border-radius: 110px 110px 0 0;
	-webkit-border-radius: 110px 110px 0 0;
}
.head:hover{
	transform: rotate(-5deg) translate(-4px, -8px);
}
.l-eye, .r-eye{
	position: absolute;
	background: #fff;
	width: 20px;
	height: 20px;
	top: 42px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.l-eye{
	left: 50px;
}
.r-eye{
	right: 50px;
}
.l-ant, .r-ant{
	position: absolute;
	top: -34px;
	width: 6px; height: 50px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.l-ant{
	left: 50px;
	transform: rotate(-30deg);
}
.r-ant{
	right: 50px;
	transform: rotate(30deg);
}

.body{
	width: 220px;
	height: 184px;
	top: 40px;
	border-radius: 0 0 25px 25px;
}
.l-arm, .r-arm, .l-leg, .r-leg{
	width: 50px;
	position: absolute;
	-webkit-transition: all 0.1s ease-in;
}
.l-arm, .r-arm{
	height: 150px;
	border-radius: 25px 25px 25px 25px;
}

.l-arm{left: -58px;}

.l-arm:hover{
	transform: rotate(15deg) translate(-14px, 0px);
}

.r-arm{right: -58px;}

.r-arm:hover{
	transform: rotate(-30deg) translate(30px, 0px);
}

.l-leg, .r-leg{
	height: 80px;
	top: 182px;
	border-radius: 0 0 25px 25px;
}

.l-leg{left:45px;}

.r-leg{right: 45px;}


h3{
	position: absolute;
	top: -10px;
	left: 5px;
}

.js-btn{
	font-family: 'Arial';
	position: fixed;
	height: 40px;
	width: 100px;
	background-color: lightblue;
	color: white;
}
.js-btn:hover{
	border: 2px solid lightblue;
}
