*{
	font-family: 'Arial';
}

ul.movies{
	list-style-type: none;
}

.movie-wrap{
	display: inline-block;
	width: 200px;
	text-align: center;
	border: 1px solid black;
}

button.get-price{
	position: relative;
	top: -5px;
	border: none;
	background-color: #33CC99;
}

button.show-price{
	position: relative;
	top: -5px;
	border: none;
	background-color: #33CCFF;
}